.listmixer-interaction-label{
  font-size: 1.2em;
  font-weight: bold;
}

.listmixer-target-form{
  border: 1px dotted #cccccc;
  padding: 1em;
}
.listmixer-source-weight-handle{
  background: url(includes/images/weight-handle.gif);
  width: 30px;
  height: 30px;
  /* float: left; */
}
.listmixer-source-value{
 /* clear: both;*/
}