.drag-list-button{
  background: #ccceee;
  padding: 10px;
}
.drag-list-label{
  background: pink;
  padding: 10px;
}
.view-drag-list-blocks .views-field-title{
  padding: 10px 0 10px 0;
  text-align: right;
}